@font-face {
    font-family: 'TeXGyreAdventor';
    src: local('TeX Gyre Adventor'), local('TeXGyreAdventor-Regular'), url('texgyreadventor.woff2') format('woff2'), url('texgyreadventor.woff') format('woff'), url('texgyreadventor.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TeXGyreAdventor';
    src: local('TeX Gyre Adventor Italic'), local('TeXGyreAdventor-Italic'), url('texgyreadventoritalic.woff2') format('woff2'), url('texgyreadventoritalic.woff') format('woff'), url('texgyreadventoritalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'TeXGyreAdventor';
    src: local('TeX Gyre Adventor Bold'), local('TeXGyreAdventor-Bold'), url('texgyreadventorbold.woff2') format('woff2'), url('texgyreadventorbold.woff') format('woff'), url('texgyreadventorbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'TeXGyreAdventor';
    src: local('TeX Gyre Adventor Bold Italic'), local('TeXGyreAdventor-BoldItalic'), url('texgyreadventorbolditalic.woff2') format('woff2'), url('texgyreadventorbolditalic.woff') format('woff'), url('texgyreadventorbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
