p, h1, h2, h3, h4, h5, h6, a, td, div {
    /*font-family: 'Play', sans-serif !important;*/
    font-family: 'Play', serif !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
}

.html {
    position: relative;
    min-height: 100%;
}

.body {
    overflow-y: scroll;
    margin-top: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  height: 50px;
  line-height: 50px;
  background-color: #f7f7f9;
}

.cm-top {
    top: 70px !important;
}

.cm-gallery {
    padding-right: 1px !important;
    padding-bottom: 1px !important;
    opacity: 0.9;
}
.cm-gallery:hover {
    opacity: 1;
}
body {    }
.box-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35), inset 0px 0px 100px 30px rgba(0, 0, 0, 0.5);
}
.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}
.sw {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
