@font-face {
    font-family: 'SegoeUI';
    src: url('/fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.eot');
    src: url('/fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.eot?iefix') format('eot'),
        url('/fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.woff') format('woff'),
        url('/fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI';
    src: url('/fonts/SegoeUI/SegoeUIBold/SegoeUIBold.eot');
    src: url('/fonts/SegoeUI/SegoeUIBold/SegoeUIBold.eot?iefix') format('eot'),
        url('/fonts/SegoeUI/SegoeUIBold/SegoeUIBold.woff') format('woff'),
        url('/fonts/SegoeUI/SegoeUIBold/SegoeUIBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.html {
    position: relative;
    min-height: 100%;
}

.body {
    overflow-y: scroll;
    margin-top: 70px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  height: 60px;
  line-height: 60px;
}

.cm-top {
    top: 70px !important;
}

.cm-gallery {
    padding-right: 1px !important;
    padding-bottom: 1px !important;
    opacity: 0.9;
}

.cm-gallery:hover {
    opacity: 1;
}

.box-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35), inset 0px 0px 100px 30px rgba(0, 0, 0, 0.5);
}

.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}

.sw {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
