@font-face {
    font-family: 'SegoeUI';
    src: url('/fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.eot');
    src: url('/fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.eot?iefix') format('eot'),
        url('/fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.woff') format('woff'),
        url('/fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI';
    src: url('/fonts/SegoeUI/SegoeUIBold/SegoeUIBold.eot');
    src: url('/fonts/SegoeUI/SegoeUIBold/SegoeUIBold.eot?iefix') format('eot'),
        url('/fonts/SegoeUI/SegoeUIBold/SegoeUIBold.woff') format('woff'),
        url('/fonts/SegoeUI/SegoeUIBold/SegoeUIBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI';
    src: url('/fonts/SegoeUI/SegoeUILight/SegoeUILight.eot');
    src: url('/fonts/SegoeUI/SegoeUILight/SegoeUILight.eot?iefix') format('eot'),
        url('/fonts/SegoeUI/SegoeUILight/SegoeUILight.woff') format('woff'),
        url('/fonts/SegoeUI/SegoeUILight/SegoeUILight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 70px;
}

header {
   flex: 0 0 auto;
}

.main-content {
   flex: 1 0 auto;
}

footer {
   flex: 0 0 auto;
}

.cm-top {
    top: 70px !important;
}

.cm-gallery {
    padding-right: 1px !important;
    padding-bottom: 1px !important;
    opacity: 0.9;
}

.cm-gallery:hover {
    opacity: 1;
}

.box-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35), inset 0px 0px 100px 30px rgba(0, 0, 0, 0.5);
}

.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}

.sw {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lead {
    font-weight: 400;
}

.tsw {
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}
