a, a:hover, a:active, a:visited {
    text-decoration:none !important;
}

input, button, textarea {
      font-family: 'Verdana', sans-serif !important;
}

input, textarea {
    color: black !important;
}

.russo {
    font-family: "Roboto Slab", sans-serif !important;
}

.btn-circle {
    border-radius: 2rem !important;
}

a, a:visited, a:active {
    color: #ccd4ff !important;
}

a:hover {
    color: #546fff !important;
}

.sw {
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}
