@font-face {
    font-family: 'Idealist Sans';
    src: local('Idealist Sans Light'), local('IdealistSans-Light'), url('idealistsanslight.woff2') format('woff2'), url('idealistsanslight.woff') format('woff'), url('idealistsanslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Idealist Sans';
    src: local('Idealist Sans'), local('IdealistSans'), url('idealistsans.woff2') format('woff2'), url('idealistsans.woff') format('woff'), url('idealistsans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
